version: "3.9"
services:
  bot:
    build: .
    env_file: .env
    restart: unless-stopped
    dns:
      - 1.1.1.1
      - 8.8.8.8
    volumes:
      # Сохраняем БД и данные на хосте, чтобы не терять при пересоздании контейнера
      - ./app/data:/app/app/data
